@import "../../../styles.scss";

.header {
  background-color: $accent-color;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 75px;
  overflow-x: hidden;
}

.header__menu {
  padding: 0.25rem;
  margin: 0;
  padding: 0 1rem;

  & ul {
    display: flex;
    list-style: none;
    // padding: 0 0.5rem;
  }

  & ul > li {
    margin: 0 0.5rem;
  }
}

.logo {
  margin: 0;
  padding: 0 2rem;

  a {
    display: flex;
    align-items: center;
  }

  .logo__text {
    color: $green-color;
    font-size: 1.8rem;
    font-weight: 700;
    margin: 0;

    &:hover {
      color: $dark-green-color;
    }
  }

  .logo__text--invert {
    color: $blue-color;
    font-size: 1.8rem;
    font-weight: 700;
    margin: 0;
  }

  &:hover {
    cursor: pointer;

    .logo__text {
      color: $dark-green-color;
    }

    .logo__text--invert {
      color: $dark-blue-color;
    }
  }
}

@media screen and (max-width: 480px) {
  .header__menu {
    padding-left: 0;

    & ul > li {
      margin-right: 10px;
    }

    & ul {
      padding: 0;
    }

    & ul > li > button {
      padding: 0.25rem 0.5rem;
    }
  }

  .logo {
    padding: 0 1rem;
  }
}
