<header class="header">
    <div class="logo">
        <a class="link" routerLink="">
            <h1 class="logo__text">
                ROOM<span class="logo__text--invert">MATE</span>
            </h1>
        </a>
    </div>
    <menu class="header__menu">
        <ul *ngIf="!($user | async)">
            <li><button class="btn" (click)="goSignin()">Log in</button></li>
            <li><button class="btn btn--invert" (click)="goSignup()">Sign up</button></li>
        </ul>
    </menu>
</header>