<header class="header">
  <div class="logo">
    <a class="link" routerLink="/">
      <div class="logo__text">ROOM</div>
      <div class="logo__text--invert">MATE</div>
    </a>
  </div>
  <menu class="header__menu">
    @defer () {
    <ul>
      @if (isRoomPage) {
      <li>
        <button class="btn" (click)="inviteFriend()">Invite friend</button>
      </li>
      }
      @if (!(auth.isAuthSig())) {
      <li><button class="btn" (click)="goSignin()">Log in</button></li>
      <li>
        <button class="btn btn--invert" (click)="goSignup()">Sign up</button>
      </li>
      } @else {
      <li>
        <button class="btn btn--invert" (click)="goProfile()" style="display: flex; align-items: center"
          title="Profile">
          <mat-icon appIconSize="24px">person</mat-icon>
        </button>
      </li>
      }
    </ul>
    }
  </menu>
</header>