<header class="header">
  <div class="logo">
    <a class="link" routerLink="/">
      <div class="logo__text">ROOM</div>
      <div class="logo__text--invert">MATE</div>
    </a>
  </div>
  <menu class="header__menu">
    @if (!(auth.isAuthSig())) {
      @defer () {
        <ul>
          <li><button class="btn" (click)="goSignin()">Log in</button></li>
          <li>
            <button class="btn btn--invert" (click)="goSignup()">Sign up</button>
          </li>
        </ul>
      }
    
    } @else { @defer () {
    <ul>
      <li>
        <button class="btn btn--invert" (click)="goProfile()" style="display: flex; align-items: center"
          title="Profile">
          <mat-icon appIconSize="24px">person</mat-icon>
        </button>
      </li>
    </ul>
    } }
  </menu>
</header>