<div class="page-wrapper">
  <app-header></app-header>
  <ng-container *ngIf="isBrowser">
  <app-settings
    [roomId]="roomId"
    [stream]="stream"
    [parentSharing]="screenSharing"
    (onSetStream)="startScreenShare()"
  >
    ></app-settings
  >
  <main class="room">
    <section
      class="player-section"
      [ngClass]="{ 'player-section--no-chat': !showChat }"
    >
      <app-player class="player" [stream]="stream"></app-player>
      <app-chat
        [ngClass]="{ 'w-1': !showChat }"
        (onShowChat)="toggleChat($event)"
        [roomId]="roomId"
      ></app-chat>
    </section>
  </main>
  </ng-container>
</div>
