@import '../../../styles.scss';

.player-section {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 5fr 1fr;
    gap: 10px;
}



.room{
    padding: 20px 10px;
}

@media screen and (max-width: 1140px) {
    .player {
        width: 100%;
        margin-bottom: 10px;
    }

    .player-section{
        grid-template-columns: 1fr;
        gap: 0;
    }
    
}