@import '../../../styles.scss';

.player-section {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 4fr 1fr;
    gap: 10px;
}

.player-section--no-chat {
    width: 100%;
    height: auto;
    display: flex;
    gap: 10px;
    animation-name: slidein;
    animation-duration: 1s;
}

// @keyframes slidein {
//     from {
//         display: grid;
//         grid-template-columns: 4fr 1fr;
//         gap: 10px;
//     }

//     to {
//         display: flex;
//         gap: 1rem;
//     }
// }

.d-none {
    display: none;
}

.player {
    flex-grow: 1;
}

.room {
    padding: 20px 10px;
}

@media screen and (max-width: 1140px) {
    .player {
        width: 100%;
        margin-bottom: 10px;
    }

    .player-section {
        grid-template-columns: 1fr;
        gap: 0;
    }

}

.w-1 {
    width: 1rem;
}