<section class="formats">
    <div class="title-wrapper">
        <h2 class="features__title">Formats</h2>
    </div>
    <ul class="formats-wrapper">
        <li class="formats__item">
            <mat-icon appIconSize="32px">folder</mat-icon>
            <h3>
                LOCAL FILES
            </h3>
            <p>
                Share files directly from your device.
            </p>
        </li>
        <li class="formats__item">
            <mat-icon appIconSize="32px">desktop_windows</mat-icon>
            <h3>
                SCREENSHARE
            </h3>
            <p>
                Share your desktop screen or a browser tab.
            </p>
        </li>
        <li class="formats__item">
            <mat-icon appIconSize="32px">link</mat-icon>
            <h3>
                ANY VIDEO URLS
            </h3>
            <p>
                Use different URLs for videos such as .m3u8, .mp4 etc. Auto-parser coming soon.
            </p>
        </li>
    </ul>
</section>