@import '../../../styles.scss';
@import '../features/features.component.scss';

.formats{
    margin-bottom: 50px;
}


.formats-wrapper{
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    padding: 0;
    margin: 0;
}

@media screen and (max-width: 768px) {
    .formats-wrapper {
        grid-template-columns: 1fr 1fr; 
    }
}

@media screen and (max-width: 480px) {
    .formats-wrapper {
        grid-template-columns: 1fr; 
    }
    
}

.title__wrapper{
    position: relative;
    text-align: center;
    bottom: 15px;
}

.formats__title{
    display: inline-block;
    color: $green-color;
    text-align: center;
    font-size: 1.5rem;
    margin: 0;
    background-color: $base-color;
    width: 10%;
}

.formats__item{
    border: 2px solid $blue-color;
    border-radius: 5px;
    padding: 10px 5px ;
    text-align: center;
}

.divider--blue{
    background-color: $blue-color;
}