@import "../../../styles.scss";
@import "../../components/header/header.component.scss";

.logo__text--center {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  text-align: center;
  font-size: 2.5rem;
  text-shadow: 0 0 10px $accent-color;

  &:hover {
    cursor: default;
  }

  margin-bottom: 10px;
}

.footer--bg-oppacity ::ng-deep .footer {
  position: relative;
  bottom: 0;
  background-color: $secondary-accent-color;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100% - 70px);
}

.links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 20px;

  a {
    cursor: pointer;
  }
}
