@import "../../../styles.scss";

.chat {
  height: 100%;
  background-color: $white;
  border: 1px solid $black;
  border-radius: 5px;
  color: $black;
  display: flex;
  flex-direction: column;
  position: relative;
}

.chat__header {
  box-shadow: 0 0 5px $black;
}

.chat__title {
  margin: 0;
  font-size: 1.5rem;
  text-align: center;
}

.chat__options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}

.options__item {
  width: 100%;
  text-align: center;
  padding: 0.75rem;
  background-color: $light-gray;
  font-size: 1rem;
  color: $black;
  border-radius: 0;
  border: none;
  z-index: 1;
  &:hover {
    background-color: $another-msg-bg;
    cursor: pointer;
  }
}
.options__item--right {
  border-radius: 0 5px 5px 0;
}

.options__item--left {
  border-radius: 5px 0 0 5px;
}

.options__item--selected {
  background-color: $my-msg-bg;
}

.chat__footer {
  display: flex;
  padding: 0.5rem;
  gap: 0.5rem;
  box-shadow: 0 0 5px $black;
}

.chat__content {
  height: 100px;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  overflow-y: auto;
  flex-grow: 1;
  scrollbar-gutter: stable;
}

.input--message {
  width: 100%;
  resize: none;
  font-size: 0.8rem;
}

.btn--message {
  border: 1px solid $black;
}

.message-container {
  background-color: $another-msg-bg;
  border-radius: 0.5rem;
  padding: 0.25rem;
  font-size: 0.8rem;
}

.message-container__header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  & h4 {
    margin: 0;
  }

  & p {
    margin: 0;
  }
}

.message-container__body {
  padding: 0.25rem 0.5rem;

  & p {
    margin: 0;
    word-wrap: break-word;
    word-break: break-all;
    overflow-wrap: break-word;
    hyphens: auto;
    overflow: auto;
    float: left;
    white-space: pre-wrap;
  }
}

.message-container--my {
  background-color: $my-msg-bg;
  border-radius: 0.5rem;
  padding: 0.25rem;
  font-size: 0.8rem;
}

.show-toggle {
  height: 2rem;
  width: 2rem;
  background-color: $white;
  border: 1px solid $black;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 2;
}

.show-toggle__icon {
  position: relative;
  right: 2px;
}

.d-none {
  display: none;
}

.zeroing {
  margin: 0;
  padding: 0;
  background-color: $background-color;
  border: none;
}

.people__content {
  height: 100%;
  overflow-y: auto;
  scrollbar-gutter: stable;
}
