<section class="features">
    <div class="title-wrapper">
        <h2 class="features__title">Features</h2>
    </div>
    <ul class="features-wrapper">
        <li class="features__item">
            <mat-icon appIconSize="32px">sync</mat-icon>
            <h3>
                SYNCHRONIZED PLAY
            </h3>
            <p>
                Watch video with your friends in sync.
            </p>
        </li>
        <li class="features__item">
            <mat-icon appIconSize="32px">chat</mat-icon>
            <h3>
                TEXT CHAT
            </h3>
            <p>
                Chat with your friends while watching videos.
            </p>
        </li>
        <li class="features__item">
            <mat-icon appIconSize="32px">videocam</mat-icon>
            <h3>
                VIDEO CHAT
            </h3>
            <p>
                Video chat with your friends while watching videos.
            </p>
        </li>
        <li class="features__item">
            <mat-icon appIconSize="32px">mic</mat-icon>
            <h3>
                VOICE CHAT
            </h3>
            <p>
                Voice chat with your friends while watching videos.
            </p>
        </li>
    </ul>
</section>