@import "../../../styles.scss";

.features {
    margin-bottom: 50px;
}

.features-wrapper {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    padding: 0;
    margin: 0;
}

.title-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.features__title {
    display: grid;
    color: $green-color;
    font-size: 1.5rem;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    column-gap: 1rem;

    &::after,
    &::before {
        content: '';
        height: 2px;
        background-color: $green-color;
        display: block;
    }
}

.features__item {
    border: 2px solid $green-color;
    border-radius: 5px;
    padding: 10px 5px;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .features-wrapper {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 480px) {
    .features-wrapper {
        grid-template-columns: 1fr;
    }
}