<div class="page-wrapper">
  <app-header></app-header>
  <main class="main">
    <section>
      <h2>Profile</h2>

      <app-accordion [accordionItems]="forms"></app-accordion>

      <div class="profile-controls">
        <button type="button" class="btn" (click)="auth.logOut()">
          Log Out
        </button>
        <button type="button" class="btn btn--danger" (click)="openDialog()">
          Delete account
        </button>
      </div>
    </section>
  </main>
  <app-footer></app-footer>
</div>
