<form class="update-form" [formGroup]="formData" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="currentPasswordUpdate">Current password: </label>
        <input id="currentPasswordUpdate" name="currentPasswordUpdate" class="input" type="password"
            formControlName="currentPassword">
        <div *ngIf="formData.controls['currentPassword'].invalid && (formData.controls['currentPassword'].dirty || formData.controls['currentPassword'].touched)"
            class="invalid">
            <span *ngIf="formData.controls['currentPassword'].hasError('required')">
                Password is required
            </span>
            <span *ngIf="formData.controls['currentPassword'].hasError('minlength')">
                Password must be more than 8 characters
            </span>
        </div>
    </div>
    <div class="form-group">
        <label for="newPasswordUpdate">New password: </label>
        <input id="newPasswordUpdate" name="newPasswordUpdate" class="input" type="password"
            formControlName="newPassword">
        <div *ngIf="formData.controls['newPassword'].invalid && (formData.controls['newPassword'].dirty || formData.controls['newPassword'].touched)"
            class="invalid">
            <span *ngIf="formData.controls['newPassword'].hasError('required')">
                Password is required
            </span>
            <span *ngIf="formData.controls['newPassword'].hasError('minlength')">
                Password must be more than 8 characters
            </span>
        </div>
    </div>
    <div *ngIf="isSubmitting" class="loader"></div>
    <button *ngIf="!isSubmitting" class="btn" style="margin-top: 5px;" type="submit"
        [disabled]="!formData.valid">Submit</button>
</form>