@import "../../../styles.scss";

.accordion {
  border-radius: 5px;
  overflow: hidden;
}

.accordion-button {
  background-color: $white;
  border: none;
  padding: 10px;
  width: 100%;
  text-align: left;
  transition: 0.3s all;

  &:hover {
    background-color: $text-color;
    cursor: pointer;
  }
}

.accordion-content {
  display: none;
  transition: 0.3s all;
}

.accordion-item {
  border-bottom: 1px solid $black;
  transition: 0.3s all;

  &:last-child {
    border-bottom: none;
  }
}

.accordion-item.active .accordion-content {
  display: block;
  transition: 0.3s all;
}
