<section class="rooms">
  <div>
    <h2 class="title">Watch videos together with friends anywhere.</h2>
    <p>No registration or download required.</p>
    <form [formGroup]="roomsGroup" (ngSubmit)="onSubmit()">
      <div class="rooms-wrapper">
        <button type="button" class="btn" (click)="openDialog()">
          Create a room
        </button>
        <p class="rooms__or-text">or</p>

        <button type="submit" class="btn btn--invert btn--border">
          Join a room
        </button>
        <input
          class="input"
          type="text"
          placeholder="Room id"
          formControlName="roomUid"
          required
        />
      </div>
    </form>
  </div>
  <div class="activity-wrapper">
    <div class="activity-wrapper__inner">
      <div>
        <h2 id="active-users">0</h2>
        <p>Currently active users</p>
      </div>
      <div>
        <h2 id="active-rooms">
          {{ activeRooms || "0" }}
        </h2>
        <p>Currently active rooms</p>
      </div>
      <button type="button" class="btn btn--invert btn--border">
        View public rooms
      </button>
    </div>
  </div>
</section>
