@import 'styles.scss';

.title{
    text-align: center;
    font-size: 1.5rem;
    margin: 0.5rem 0;
}

.dialog-wrapper{
    padding: 0 ;
    color: $black;
}

.dialog__footer{
    display: flex;
    justify-content: end;
    gap: 10px;
    padding: 10px;
    display: flex;
    justify-content: center;

}

.close-icon{
    color: $black;
    position: absolute;
    right: 0;
    top: 0;
    &:hover{
        cursor: pointer;
    }
}

.hr-divider{
    margin: 0;
}

.dialog__content{
    padding: 0 2rem;
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 0.5rem;
    margin: 0.5rem 0 
}