@import 'ngx-toastr/toastr';

$base-color: #4e5163;
$accent-color: #1f1f1f;
$text-color: #ffffff;
$text-link-hover: #969696;
$green-color: #4CAF50;
$blue-color: #2196F3;
$white: #f0f0f0;
$black: #0f0f0f;
$info-bg: rgba(233, 189, 67, 0.5);


html,
body {
    width: 100%;
    height: 100%;
    color: $text-color;
    margin: 0;
}

body {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: $base-color;
}

.btn {
    padding: 10px 20px;
    font-size: 16px;
    border: 1px solid $green-color;
    border-radius: 5px;
    background-color: $green-color;
    color: $text-color;
    cursor: pointer;
    box-sizing: border-box;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: $accent-color;

    }

    &:focus {
        outline: none;
    }

    &:disabled {
        opacity: 0.6;

        &:hover {
            background-color: $green-color;
        }
    }
}

.btn--invert {
    background-color: $accent-color;

    &:hover {
        background-color: $green-color;
    }
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.link {
    color: $text-color;
    text-decoration: none;

    &:hover {
        color: $text-link-hover;
        position: relative;
        bottom: 1.5px;
    }
}

.main {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

.divider {
    width: 100%;
    height: 2px;
    border: none;
    background-color: $green-color;
    margin: 0;
}

@media screen and (max-width: 480px) {
    .btn {
        padding: 10px 5px;
        font-size: 0.9rem;
    }
}

.input {
    border: 1px solid $accent-color;
    border-radius: 5px;
    padding: 10px 10px;
    font-size: 1rem;
}

.btn--secondary {
    background-color: $accent-color;
    border-color: $accent-color;

    &:hover {
        background-color: $green-color;
        border-color: $green-color;
    }
}

.invalid {
    color: red;
    margin-top: 2px;
    min-width: 1rem;
}

.select {
    border: 1px solid $accent-color;
    border-radius: 5px;
    padding: 10px 10px;
    font-size: 1rem;
}

.info {
    background-color: $info-bg ;
    margin-top: 2px;
    padding: 10px 20px;
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid yellow;
    border-radius: 5px;

    & h2 {
        margin: 0;
    }

}

.loader {
    width: 50px;
    height: 50px;
    border: 4px solid $blue-color;
    border-top: 4px solid $white;
    border-radius: 50%;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);

    }
}