{% extends "base.html" %} {% block index %}
<link rel="stylesheet" href="../static/styles/index.css" />
<div class="row about mb-5 justify-content-around pl-5 pr-5 pt-5">
	<div class="col-md-6 d-flex align-items-center">
		<div class="row" style="padding: 30px">
			<div class="col-md-12">
				<h1 style="font-weight: 700">
					Watch videos together with friends anywhere.
				</h1>
				<h5>No registration or download required.</h5>
			</div>
			<div class="d-flex col-md-12 align-items-center">
				<a
					type="button"
					class="btn btn-dark btn-lg"
					href="{{ url_for('create_room') }}">
					Create a room
				</a>
				<h5 class="m-3">or</h5>
				<div class="input-group">
					<a
						class="btn btn-dark btn-lg"
						style="color: var(--text-color)"
						type="button"
						id="button-addon2"
						onclick="let id = document.getElementById('room-id').value; window.location.href = '/room/' + id;"
						>Join a room</a
					><input
						id="room-id"
						type="text"
						class="form-control"
						placeholder="Room id"
						aria-label="Room id"
						aria-describedby="button-addon2" />
				</div>
			</div>
		</div>
	</div>
	<div class="w-auto mw-100 p-3">
		<div class="col-md-12 b-r-50">
			<div class="statistics">
				<div class="d-flex flex-column align-items-center">
					<h1 id="active-users" class="mr-2">
						{{active_users | default("0") }}
					</h1>
					<span class="stat-label">Currently active users</span>
				</div>
			</div>
			<div class="statistics">
				<div class="d-flex flex-column align-items-center">
					<h1 id="active-rooms" class="mr-2">
						{{active_rooms | default("0") }}
					</h1>
					<span class="stat-label">Currently active rooms</span>
					<a class="btn btn-dark btn-lg" href="/rooms"
						>View public rooms</a
					>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="divider p-3">
	<i class="fa-solid fa-gears"></i>
	<h4>Features</h4>
</div>
<section class="d-flex flex-wrap justify-content-around mb-4 p-3">
	<div class="card-box">
		<i class="fa-solid fa-rotate"></i>
		<div class="card-box-header">Synchronized Play</div>
		<p class="card-box-text">Watch videos with your friends in sync.</p>
	</div>
	<div class="card-box">
		<i class="fa-regular fa-comments"></i>
		<div class="card-box-header">Text Chat</div>
		<p class="card-box-text">
			Chat with your friends while watching videos.
		</p>
	</div>
	<div class="card-box">
		<i class="fa-solid fa-video"></i>
		<div class="card-box-header">Video Chat</div>
		<p class="card-box-text">
			Video chat with your friends while watching videos.
		</p>
	</div>
	<div class="card-box">
		<i class="fa-solid fa-microphone"></i>
		<div class="card-box-header">Voice Chat</div>
		<p class="card-box-text">
			Voice chat with your friends while watching videos.
		</p>
	</div>
</section>
<div class="row about mb-5 justify-content-around pl-5 pr-5 pt-5">
	<div class="col-md-6 d-flex align-items-center">
		<div class="row" style="padding: 30px">
			<div class="col-md-12">
				<h1 style="font-weight: 700">h1.</h1>
				<h5>h5.</h5>
			</div>
			<div class="col-md-12" style="background-color: red">qwe</div>
		</div>
	</div>
	<div class="w-auto mw-100">
		<div class="col-md-12">
			<img
				src="https://placehold.co/500x400"
				class="d-block w-100 b-r-50"
				alt="https://placehold.co/500x400" />
		</div>
	</div>
</div>
<div class="divider p-3">
	<i class="fa-solid fa-photo-film"></i>
	<h4>Formats</h4>
</div>
<section class="d-flex flex-wrap justify-content-around mb-4 p-3">
	<!-- <div class="card-box">
        <i class="fa-brands fa-youtube"></i>
        <div class="card-box-header">Youtube</div>
        <p class="card-box-text">
            Most popular online video sharing and social media
            platform.
        </p>
    </div> -->
	<!-- <div class="card-box">
        <i class="fa-solid fa-link"></i>
        <div class="card-box-header">Any URL</div>
        <p class="card-box-text">Use different URLs for videos.</p>
    </div> -->
	<div class="card-box">
		<i class="fa-solid fa-file"></i>
		<div class="card-box-header">Local Files</div>
		<p class="card-box-text">Share files directly from your device!</p>
	</div>
	<div class="card-box">
		<i class="fa-solid fa-desktop"></i>
		<div class="card-box-header">Screenshare</div>
		<p class="card-box-text">Share your desktop screen or a browser tab.</p>
	</div>
	<div class="card-box">
		<i class="fa-solid fa-link"></i>
		<div class="card-box-header">Any video urls</div>
		<p class="card-box-text">
			Use different URLs for videos such as .m3u8, .mp4 etc. Auto-parser
			coming soon.
		</p>
	</div>
</section>
{% endblock %}
