{% extends "base.html" %} {% block body %}
<div id="sideNav" class="sidenav">
	<a href="javascript:void(0)" class="closebtn" onclick="closeNav()"
		>&times;</a
	>
	<a href="#">About</a>
	<a href="#">Services</a>
	<a href="#">Clients</a>
	<a href="#">Contact</a>
</div>
<div class="room-settings d-flex">
	<div class="input-group m-2">
		<div class="input-group-prepend">
			<span class="input-group-text">Now watching:</span>
		</div>
		<!-- !TODO: ADD TEMPLATE VIDEOS (Able to disable) -->
		<input
			id="url-changer"
			type="text"
			value="http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/BigBuckBunny.mp4"
			class="form-control"
			placeholder="Enter link to video (for example, youtube)"
			aria-label="Enter link to video (for example, youtube)"
			aria-describedby="basic-addon1" />
		<div class="input-group-append">
			<button
				id="url-changer-button"
				class="btn btn-secondary"
				type="button"
				onclick="changePlayerSourceUrl()">
				<i class="fa-solid fa-check"></i>
			</button>
		</div>
	</div>
	<button
		id="playlist-share-button"
		onclick=""
		class="input-group-text mt-2 mr-2 mb-2 btn btn-secondary"
		data-toggle="tooltip"
		data-placement="bottom"
		title="Show current playlist"
		data-bs-toggle="popover"
		data-bs-content="">
		<i class="fa-solid fa-list-ul"></i>
		<div class="ml-2">Playlist</div>
	</button>
	<button
		id="screen-share-button"
		onclick="startScreenShare()"
		class="mt-2 mr-2 mb-2 btn btn-secondary">
		Screenshare
	</button>
	<div class="custom-file mt-2 mr-2 mb-2">
		<input
			class="custom-file-input btn btn-secondary"
			type="file"
			name="file-picker"
			id="file-share-button" />
		<label class="custom-file-label btn btn-secondary" for="file-picker"
			>Pick a file</label
		>
	</div>
</div>
<div id="main" class="body m-2">
	<media-player autoplay load="eager" aspect-ratio="16/9" src="" crossorigin>
		<media-outlet></media-outlet>
		<media-community-skin></media-community-skin>
	</media-player>
	<div id="chat" class="chat">
		<div class="containerHeader">Chat</div>
		<div class="options p-2">
			<div class="form-check">
				<input
					class="form-check-input"
					type="checkbox"
					id="room-public"
					disabled />
				<label class="form-check-label" for="room-public"
					>Room is private?</label
				>
			</div>
		</div>
		<div class="input-group p-2">
			<input
				id="nickname-changer"
				type="text"
				class="form-control"
				placeholder="Enter new nickname"
				aria-label="Enter new nickname"
				aria-describedby="basic-addon2" />
			<div class="input-group-append">
				<button
					id="nickname-changer-button"
					class="btn btn-outline-secondary"
					type="button">
					<i class="fa-solid fa-check"></i>
				</button>
			</div>
		</div>

		<ul id="room-messages" class="messages"></ul>

		<div class="input-wrapper">
			<div class="input">
				<input
					id="chat-input"
					class="input-content"
					placeholder="Input message" />
				<div class="span-controls">
					<button
						class="emoji-button chat-btn"
						onclick="toggleEmojiPicker()">
						<i class="fa-regular fa-face-smile"></i>
					</button>
					<button
						id="send-message-button"
						class="send-button chat-btn"
						onclick="">
						<i class="fa-solid fa-arrow-right"></i>
					</button>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
